{% extends 'frontend/game/game_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('assets/js/map.js') }}?v={{ filemtime('assets/js/map.js') }}"></script>
{% endblock %}

{% block body %}
    <section>
        <div class="map">
        </div>
        <div class="container">
                {% for item in game.gameProfiles %}
                    {% if item.user.id is same as app.user.id %}
                        <a class="city-position-{{ item.position }} city-occupied tippy" data-text="{{ 'game.villageEnter'|trans }}" href="{{ path('app_game_village', {'id': item.id}) }}">
                        </a>
                    {% else %}
                        <div class="city-position-{{ item.position }} city-occupied tippy" data-text="{{ 'game.villageOf'|trans({'nickname': item.user.nickname}) }}" >
                        </div>
                    {% endif %}
                {% endfor %}
            <a href="{{ path('app_game_mini_game_select', {'id': game.id, 'type': 'stone'}) }}" class="stone tippy" data-text="{{ 'game.minigame.stoneType'|trans }}"></a>
            <a href="{{ path('app_game_mini_game_select', {'id': game.id, 'type': 'wheat'}) }}" class="wheat tippy" data-text="{{ 'game.minigame.wheatType'|trans }}"></a>
            <a href="{{ path('app_game_mini_game_select', {'id': game.id, 'type': 'wood'}) }}" class="wood tippy" data-text="{{ 'game.minigame.woodType'|trans }}"></a>
        </div>
    </section>

{% endblock %}