{% extends 'frontend/game/game_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('assets/js/map.js') }}?v={{ filemtime('assets/js/map.js') }}"></script>
{% endblock %}

{% block body %}
    <section>
        <div class="map">
        </div>
        <div class="container" data-url="{{ path('create_new_game_profile', {'id': game.id}) }}">
                {% for item in 1..3 %}
                    {% if positions[item] is defined %}
                        <a class="city-position-{{ item }} city-occupied">
                        </a>
                    {% else %}
                        <a class="city-position-{{ item }} city-position tippy" data-text="{{ 'game.start.selectVillage'|trans }}" data-position="{{ item }}"></a>
                    {% endif %}
                {% endfor %}
        </div>
    </section>

{% endblock %}