{% extends 'frontend/game/game_base.html.twig' %}

{% block title %}{{ 'game.start.title'|trans }}{% endblock %}

{% block body %}
    <div class="background-map background-map__custom">
        <div class="container">
            <div class="form">
                <h2 class="text-center mb-4 mt-4">{{ 'game.start.selectTitle'|trans }}</h2>
                <div class="form-text">
                    {{ 'game.start.selectInfo'|trans }}
                </div>

                <div class="form-divider"></div>

                {{ form_start(form) }}
                    <h3 class="text-center mb-2">{{ 'game.start.existedMap'|trans }}</h3>
                    <div class="form-text">
                        {{ 'game.start.existedMapText'|trans }}
                    </div>
                    <div class="form-row">
                        <div class="d-flex">
                            {{ form_label(form.code) }}
                            <div>
                                {{ form_widget(form.code) }}
                                {% if form_errors(form.code) %}
                                    <div class="form-error">
                                        {{ form_errors(form.code) }}
                                    </div>
                                {% endif %}
                            </div>

                        </div>

                        {{ form_widget(form.find) }}
                    </div>

                    <div class="form-divider"></div>

                    <h3 class="text-center mb-2">{{ 'game.start.randomMap'|trans }}</h3>
                    <div class="form-text">
                        {{ 'game.start.randomMapText'|trans }}
                    </div>
                    <div class="form-row">
                        {{ form_widget(form.random) }}
                    </div>

                    <div class="form-divider"></div>

                    <h3 class="text-center mb-2">{{ 'game.start.newMap'|trans }}</h3>
                    <div class="form-text">
                        {{ 'game.start.newMapText'|trans }}
                    </div>
                    <div class="form-row">
                        {{ form_widget(form.new) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(document).on('click', '.btn-create-game', function (e) {
                e.preventDefault()

                let form = $(document).find('form[name="game_start"]');
                form.attr('action', form.attr('action') + '?type=' + $(this).data('url'));
                console.log(form);
                form.submit();
            });

            {% if showStartModal %}

                document.cookie = 'showStartModal' + "=" + true + ";" + 2592000000 + ";path=/";
                Swal.fire({
                    title: 'Příběh hry',
                    html: `{{ 'game.start.story'|trans|raw }}`,
                    showCloseButton: true,
                    focusConfirm: false,
                    confirmButtonText: 'Dobře',
                });
            {% endif %}
        });
    </script>
{% endblock %}