{% extends 'frontend/game/game_base.html.twig' %}

{% block title %}{{ 'game.start.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="form">
            {{ form_start(form) }}
                <div class="form-control">
                    {{ form_widget(form.find) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(document).on('click', '.btn-create-game', function (e) {
                e.preventDefault()

                let form = $(document).find('form[name="game_start"]');
                form.attr('action', form.attr('action') + '?type=' + $(this).data('url'));
                console.log(form);
                form.submit();
            });
        });
    </script>
{% endblock %}