{% extends 'base.html.twig' %}

{% block title %}{{ 'administration.users.title'|trans }}{% endblock %}

{% block body %}
    <section class="intro">
        <div class="container">
            <h1 class="intro__title">{{ 'administration.users.title'|trans }}</h1>
            <div class="admin-game-detail">
                <a href="{{ path('app_administration_users_new') }}" class="add-new btn btn-primary">Přidat uživatele</a>
                <table>
                    <thead>
                        <tr>
                            <th>Jméno</th>
                            <th>E-mail</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>
                                    {{ user.fullname }}
                                </td>
                                <td>
                                    {{ user.email }}
                                </td>
                                <td>
                                    {{ user.roles|join(', ') }}
                                </td>
                                <td class="action">
                                    <a href="{{ path('app_administration_users_edit', {'id': user.id}) }}">
                                        <img src="{{ asset('assets/images/edit.png') }}" alt="Upravit">
                                    </a>

                                    <a href="{{ path('app_administration_users_remove', {'id': user.id}) }}" class="remove-item">
                                        <img src="{{ asset('assets/images/delete.png') }}" alt="Odstranit">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}