<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - {{ 'base.title'|trans }}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/styles/css/global.css') }}?v={{ filemtime('assets/styles/css/global.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/styles/css/bootstrap.css') }}?v={{ filemtime('assets/styles/css/bootstrap.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('assets/js/app.js') }}?v={{ filemtime('assets/js/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/jquery/jquery-3.7.1.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
        <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

        <script type="text/javascript">
            jQuery(document).ready(function() {
                tippy('.tippy', {
                    content(reference) {
                        return reference.getAttribute('data-text');
                    },
                    allowHTML: true,
                });
            });
        </script>

        {% if helpTitle is defined and helpText is defined %}
            <script type="text/javascript">
                jQuery(document).ready(function() {
                    jQuery('.game-info').on('click', function() {
                        Swal.fire({
                            title: '{{ helpTitle }}',
                            html: `{{ helpText|raw }}`,
                            showCloseButton: true,
                            showCancelButton: false,
                            focusConfirm: false,
                            confirmButtonText: 'Close'
                        });
                    });
                });
            </script>
        {% endif %}
    {% endblock %}
</head>
{% if app.user.gameProfile != null %}
    <header class="game-header">
        <div class="nav">
            {% if showBackToMap is defined %}
                <a class="back-to-map tippy" data-text="{{ 'game.backToMap'|trans }}" href="{{ path('app_game_map', {'id': app.user.gameProfile.game.id}) }}"><img src="{{ asset('assets/images/back.png') }}" alt="{{ 'game.backToMap'|trans }}"></a>
            {% endif %}
            <div class="nav-game tippy" data-text="{{ 'game.food'|trans }}">
                <img src="{{ asset('assets/images/wheat.PNG') }}" alt="{{ 'game.food'|trans }}">
                <span>{{ app.user.gameProfile.food }}</span>
            </div>
            <div class="nav-game tippy" data-text="{{ 'game.wood'|trans }}">
                <img src="{{ asset('assets/images/tree.PNG') }}" alt="{{ 'game.wood'|trans }}">
                <span>{{ app.user.gameProfile.wood }}</span>
            </div>
            <div class="nav-game tippy" data-text="{{ 'game.stone'|trans }}">
                <img src="{{ asset('assets/images/stone.PNG') }}" alt="{{ 'game.stone'|trans }}">
                <span>{{ app.user.gameProfile.stone }}</span>
            </div>
            <div class="nav-game tippy" data-text="{{ 'game.village'|trans }}">
                <img src="{{ asset('assets/images/village.PNG') }}" alt="{{ 'game.village'|trans }}">
                {% set people = 0 %}
                {% for item in app.user.gameProfile.gameProfileBuildings %}
                    {% set people = item.people + people %}
                {% endfor %}
                <span>{{ people }}</span>
            </div>

            <a href="{{ path('app_game_profile_detail', {'id': app.user.gameProfile.game.id}) }}" class="user-profile tippy" data-text="{{ 'game.gameProfile'|trans }}">
                <img src="{{ asset('assets/images/user.PNG') }}" alt="{{ 'game.gameProfile'|trans }}">
            </a>

            {% if helpTitle is defined and helpText is defined %}
                <div class="game-info tippy" data-text="{{ 'game.info'|trans }}">
                    <img src="{{ asset('assets/images/info.PNG') }}" alt="{{ 'game.info'|trans }}">
                </div>
            {% endif %}
        </div>
    </header>
{% endif %}
<body>
{% block body %}{% endblock %}
</body>
</html>
