{% extends 'frontend/game/game_base.html.twig' %}

{% block title %}{{ 'miniGame.drag.detail'|trans }}{% endblock %}

{% block body %}
    <section class="background-map mini-game-drag">
        <div class="container">
            <h1 class="h1 mb-3">{{ 'miniGame.drag.detail'|trans }}</h1>
            <div class="mini-game-drag__parent">
                <div class="col" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)">
                    {% for item in randomArray(dragItemParts) %}
                        <div class="row row-drag" id="dragItem{{ loop.index }}" draggable="true" ondragstart="dragstartHandler(event)">{{ item['text'] }}</div>
                    {% endfor %}
                </div>

                <div class="col col-result">
                    <div class="row result drop-zone" id="dropZone1" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)"></div>
                    <div class="row result drop-zone" id="dropZone2" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)"></div>
                    <div class="row result drop-zone" id="dropZone3" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)"></div>
                    <div class="row result result-equals">=</div>
                    <div class="row result drop-zone" id="dropZone4" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)"></div>
                </div>
            </div>

            <div class="mt-lg-5 text-center">
                <a href="javascript:finishGame('{{ path('app_game_mini_game_drag_end', {'id': game.id, 'miniGameId': miniGame.id}) }}')" class="btn btn-primary finish-game">Přejít na výsledky</a>
            </div>

        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/miniGame/drag.js') }}?v={{ filemtime('assets/js/miniGame/drag.js') }}"></script>

    {% if not app.user.gameProfile.hideDragHelpModal %}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script type="text/javascript">
            jQuery(document).ready(function() {
                Swal.fire({
                    title: '{{ helpTitle}}',
                    html: `{{ helpText }}`,
                    showCloseButton: true,
                    showCancelButton: true,
                    focusConfirm: false,
                    confirmButtonText: 'Dobře',
                    cancelButtonText: 'Již nezobrazovat'
                }).then(function(response){

                    if(response.dismiss === 'cancel') {
                        $.ajax({
                            url: '{{ path('app_game_mini_game_modal_hide', {'id': game.id, 'type': 'drag'}) }}',
                            type: 'POST',
                            data: {},
                            success: function () {
                            }
                        });
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}