{% extends 'frontend/game/game_base.html.twig' %}

{% block title %}{{ 'game.gameProfile'|trans }}{% endblock %}

{% block body %}
    <section class="background-map game-profile">
        <div class="container">
            <h1 class="h1 mb-3">{{ 'game.gameProfile'|trans }} - {{ user.nickname }}</h1>
            <div class="game-profile__parent">
                <div class="col">
                    <h2>Celkové statistiky</h2>
                    <table>
                        <tbody>
                            <tr>
                                <td>Odehráno her:</td>
                                <td>{{ statsMatch['total'] + statsDrag['total'] }}</td>
                            </tr>
                            <tr>
                                <td>Celkový počet chyb:</td>
                                <td>{{ statsMatch['mistakes'] + statsDrag['mistakes'] }}</td>
                            </tr>
                            <tr>
                                <td>Celkový počet správných odpovědí:</td>
                                <td>{{ statsMatch['correctAnswers'] + statsDrag['correctAnswers'] }}</td>
                            </tr>
                            <tr>
                                <td>Celkový počet nevyplněných odpovědí:</td>
                                <td>{{ statsMatch['notFilled'] + statsDrag['notFilled'] }}</td>
                            </tr>
                            <tr>
                                <td>Odehráno spojovaček:</td>
                                <td>{{ statsMatch['total'] }}</td>
                            </tr>
                            <tr>
                                <td>Odehráno přetahovaček:</td>
                                <td>{{ statsDrag['total'] }}</td>
                            </tr>
                            {% if user.gameProfile.totalScore > 0 and rank > 0 %}
                                <tr>
                                    <td>Místo v globálním žebříčku:</td>
                                    <td>{{ rank }}.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                {% if app.user.id == user.id %}
                    <h2>Odehrané spojovačky</h2>
                    <div class="col">
                        <table>
                            <thead>
                                <tr>
                                    <th>Datum</th>
                                    <th>Počet správných odpovědí</th>
                                    <th>Počet chyb</th>
                                    <th>Počet nevyplněných</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for match in miniGameMatches %}
                                    <tr>
                                        <td>{{ match.createdAt|date('d.m.Y') }}</td>
                                        <td>{{ match.correctAnswers ?? 0 }}</td>
                                        <td>{{ match.mistakes ?? 0 }}</td>
                                        <td>{{ match.notFilled ?? 0 }}</td>
                                        <td><a href="{{ path('app_game_mini_game_match_result', {'id': game.id, 'miniGameId': match.id}) }}">Detail</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <h2>Odehrané přetahovačky</h2>
                    <div class="col">
                        <table>
                            <thead>
                                <tr>
                                    <th>Datum</th>
                                    <th>Počet správných odpovědí</th>
                                    <th>Počet chyb</th>
                                    <th>Počet nevyplněných</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for drag in miniGameDrags %}
                                    <tr>
                                        <td>{{ drag.createdAt|date('d.m.Y') }}</td>
                                        <td>{{ match.correctAnswers ?? 0 }}</td>
                                        <td>{{ drag.mistakes ?? 0 }}</td>
                                        <td>{{ drag.notFilled ?? 0 }}</td>
                                        <td><a href="{{ path('app_game_mini_game_drag_result', {'id': game.id, 'miniGameId': drag.id}) }}">Detail</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>
{% endblock %}